extends layout

block content
  .d-flex.justify-content-center.align-items-center.m-3
    h3= title
    a.btn.btn-sm.btn-outline-primary.ml-2(href="#" type="button")
      i.fas.fa-plus

  .container.d-flex.flex-wrap.justify-content-center
    if brands
      each brand in brands
        .card.shadow-sm.m-1(style="width: 12rem")
          .card-body
            h5.card-title.caps.mb-1= brand.name
            p.card-text.text-muted est. #{brand.founded_f}
            a.btn.btn-sm.btn-primary.mr-1(href="#") Edit
            a.btn.btn-sm.btn-danger(href="#") Delete
    else
      p No brands available