extends layout

block content
  h3.text-center.m-3= title

  .container.d-flex.flex-wrap.justify-content-center
    .card.shadow-sm.m-1(style="width: 12rem")
      .card-body
        h4.card-title.ml-2 Shoes
        h1.display-4.card-text.ml-2= data.shoe_count
        a.btn.btn-primary.btn-sm.btn-block.stretched-link(href="/shoes") VIEW
    .card.shadow-sm.m-1(style="width: 12rem")
      .card-body
        h4.card-title.ml-2 Brands
        h1.display-4.card-text.ml-2= data.brand_count
        a.btn.btn-primary.btn-sm.btn-block.stretched-link(href="/brands") VIEW
    .card.shadow-sm.m-1(style="width: 12rem")
      .card-body
        h4.card-title.ml-2 Categories
        h1.display-4.card-text.ml-2= data.category_count
        a.btn.btn-primary.btn-sm.btn-block.stretched-link(href="/categories") VIEW

