extends layout

block content
  h1.display-4.text-center= title
  ul.list-group
    each shoe in shoeInstances
      a.list-group-item.list-group-item-action(href=shoe.url) size: #{shoe.size}  (#{shoe.stock})